body {background-color: #030d4f;}

nav{color: aliceblue;}

h3{color: #ffea2a;}
h1{color: aliceblue; font-size: 20px;}

button{background-color: #ffea2a;}

footer{background-color: #ffea2a;}

